@{
    ViewBag.Title = "Browse Assets";
}
@section Scripts
    {
        <script src="@Url.Content("~/Scripts/Asset/Browse.js")"></script>
        <script src="@Url.Content("~/Scripts/DataTables/datatables.js")"></script>
        <script src="@Url.Content("~/Scripts/Common/ConfirmModal.js")"></script>
        <script src="@Url.Content("~/Scripts/Common/LoadingModal.js")"></script>
    }

@section Styles {
    <link href="@Url.Content("~/Scripts/DataTables/datatables.css")" rel="stylesheet" type="text/css" />
}

<h1>Browse Assets</h1>
<label>Asset Types:</label>
<select id="assetType" class="form-control" onchange="window.location = '/Asset/Browse/' + this.value">
    @foreach (var item in ViewBag.assetTypes)
    {
        <option @(item.AssetTypeID ==  ViewBag.assetTypeToBrowse.AssetTypeID  ? "selected" : "") value="@item.AssetTypeID">@item.Name</option>
    }
</select>
<hr />
<a onclick="createNewAsset()" class="btn">Create New</a>
<hr />
<!--Begin Assets Table-->
<table id="assetsTable">
    <thead>
        <tr>
            <th>Options</th>
            @foreach (var prop in ViewBag.assetTypeToBrowse.Properties)
            {
                <th>@prop.Name</th>
            }
		</tr>
	</thead>
	<tbody>
		@foreach (var asset in ViewBag.assets)
        {
            if (asset.AssetTypeID == ViewBag.assetTypeToBrowse.AssetTypeID)
            {
                <tr>
                    <td>
                        <a href="/Asset/Edit/@asset.AssetID">Edit</a> |
                        <a href="/Asset/View/@asset.AssetID">View</a> |
                        <a class="clickable" onclick="deleteAsset(@asset.AssetID)">Delete</a>
                    </td>
                    @foreach (var prop in asset.getAssetBare().AssetType.Properties)
                    {
                        <td>
                            @if (@prop.Value == "")
                            {
                                <div class="center">--</div>
                            }
                            else
                            {
                                @prop.Value
                            }
                        </td>
                    }
                </tr>
            }
        }
	</tbody>
</table>
<!--End Assets Table-->
