@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Asset/Edit.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDown.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDownHelper.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Asset.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/AssetType.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Property.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/LoadingModal.js")"></script>
}
<div>
    <h3><span id="type"></span> Asset:</h3>
</div>
<hr />
<div id="propertiesDiv" class="container"></div>
<hr />
<button onclick="save()" class="btn">Save</button>
<button onclick="window.location = '/Asset/Browse'" class="btn">Cancel</button>
<script>
    var assetId = @ViewBag.id;
    var assetTypeId = @ViewBag.assetTypeID;
</script>
