@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Asset/Edit.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDown.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDownHelper.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Asset.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/AssetType.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Property.js")"></script>

}
<div id="propertiesDiv"></div>
<button onclick="save()">Save</button>
<script>
    var assetTypeId = @ViewBag.id;
</script>
