@model InventoryTracker.Models.DropDown

@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/DropDown/edit.js")"></script>

    <script src="@Url.Content("~/Scripts/Common/LoadingModal.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/ConfirmModal.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDown.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDownHelper.js")"></script>
}

<div>
    <div>
        <h2>Edit</h2>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Name:</h4>
                <input id="dropDownName"
                       class="form-control"
                       onblur="dropDown.name = this.value"/>
            </div>
        </div>
    </div>
    <div>
        <h3>Values:</h3>
    </div>
    <hr />
    <div>
        <button class="btn" id="addValueButton">Add New</button>
    </div>
    <hr />
    <div id="valuesDiv" class="container">

    </div>
    <hr />
<div>
    <button class="btn" onclick="save()">Save</button>
</div>
  
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


