@{
    ViewBag.Title = "Browse Asset Types";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Browse.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/datatables.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/Scripts/DataTables/datatables.css")" rel="stylesheet" type="text/css" />
}

<h1>Browse Asset Types</h1>
<hr />
@Html.ActionLink("Create New", "Edit", new { id = 0 })
<hr />
<!--Begin Asset Types Table-->
<table id="assetTypesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.assetTypes)
        {
            <tr>
                <td>
                    <a href="/AssetType/View/@item.AssetTypeID">@item.Name</a>
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a href="/AssetType/Edit/@item.AssetTypeID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--End Asset Types Table-->


