@model InventoryTracker.Models.ViewModels.AssetTypeViewModel[]

@{
    ViewBag.Title = "Browse Asset Types";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Browse.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/datatables.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/ConfirmModal.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/LoadingModal.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/Scripts/DataTables/datatables.css")" rel="stylesheet" type="text/css" />
}

<h1>Browse Asset Types</h1>
<hr />
@Html.ActionLink("Create New", "Edit", new { id = 0 })
<hr />
<!--Begin Asset Types Table-->
<table id="assetTypesTable">
    <thead>
        <tr>
            <th>Options</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assetType in Model)
        {
            if (assetType.Active)
            {
                <tr>
                    <td>
                        <a href="/AssetType/Edit/@assetType.AssetTypeID">Edit</a> |
                        <a href="/AssetType/View/@assetType.AssetTypeID">View</a> |
                        <a class="clickable" onclick="deleteAssetType(@assetType.AssetTypeID)">Delete</a>
                    </td>
                    <td>
                        @assetType.Name
                    </td>
                    <td>
                        @assetType.Description
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!--End Asset Types Table-->


