@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Edit.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDownHelper.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDown.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/AssetType.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Property.js")"></script>
}
<div id="editDiv">
    <div>
        <label>Name:</label>
        <input id="assetTypeName"
               class="form-control"
               onblur="assetType.name = this.value"/>
    </div>
    <div>
        <label>Description:</label>
        <input id="assetTypeDescription"
               class="form-control"
               onblur="assetType.description = this.value"/>
    </div>
    <div>
        <label>Type:</label>
        <div class="radio">
            <label><input type="radio" name="tracked" onclick="assetType.tracked = true; setPage()">Tracked</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="tracked" onclick="assetType.tracked = false; setPage()" checked>Non-tracked</label>
        </div>
    </div>
    <div>
        <label>Properties:</label>
    </div>
    <div>
        <button id="addPropButton">Add New</button>
    </div>
    <div id="propertiesDiv" class="container">

    </div>
    <div>
        <button onclick="save()">Save</button>
    </div>
</div>
<script>var assetTypeJSON = @Html.Raw(ViewBag.assetTypeJSON); var dropDowns = @Html.Raw(ViewBag.dropDowns);</script>



