@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Edit.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDownHelper.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/DropDown.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/AssetType.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Property.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/LoadingModal.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/ConfirmModal.js")"></script>
}
<div>
    <div>
        <h3>General:</h3>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Name:</h4>
                <input id="assetTypeName"
                       class="form-control"
                       onblur="assetType.name = this.value" />
            </div>
            <div class="col-sm-3">
                <h4>Description:</h4>
                <input id="assetTypeDescription"
                       class="form-control"
                       onblur="assetType.description = this.value" />
            </div>
            <div class="col-sm-6">
                <h4>Type:</h4>
                <div class="radio">
                    <label><input type="radio" name="tracked" onclick="assetType.tracked = true; setPage()">Tracked</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="tracked" onclick="assetType.tracked = false; setPage()">Non-tracked</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Properties:</h3>
    </div>
    <hr />
    <div>
        <button class="btn" id="addPropButton">Add New</button>
    </div>
    <hr />
    <div id="propertiesDiv" class="container">

    </div>
    <hr />
    <div>
        <button class="btn" onclick="save()">Save</button>
    </div>
</div>
<script>
    var assetTypeJSON = @Html.Raw(ViewBag.assetTypeJSON);
</script>



