@model InventoryTracker.Models.AssetType

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <h3>General:</h3>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Name:</h4>
                @Html.DisplayFor(model => Model.Name)
            </div>
            <div class="col-sm-3">
                <h4>Description:</h4>
                @Html.DisplayFor(model => Model.Description)
            </div>
            <div class="col-sm-6">
                <h4>Type:</h4>
                @if (Convert.ToBoolean(Model.Tracked))
                {
                    <span>Tracked</span>
                }
                else
                {
                    <span>Non-Tracked</span>
                }
            </div>
        </div>
    </div>
    <div>
        <h3>Properties:</h3>
    </div>
    <hr />
    <div id="propertiesDiv" class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Name</h4>
            </div>
            <div class="col-sm-3">
                <h4>Type</h4>
            </div>
            <div class="col-sm-1">
                <h4>Unit</h4>
            </div>
            <div class="col-sm-3">
                <h4>Drop Down</h4>
            </div>
            <div class="col-sm-2">
                <h4>Required</h4>
            </div>
        </div>
        @foreach (var property in Model.Properties)
        {
            if (property.Active == 1)
            {
                <div class="row">
                    <div class="col-sm-3">
                        @Html.DisplayFor(modelItem => property.Name)
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayFor(modelItem => property.Type)
                    </div>
                    <div class="col-sm-1">
                        @if (property.Unit == "" || property.Unit == null)
                        {
                            <span>--</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => property.Unit)
                        }
                    </div>
                    <div class="col-sm-3">
                        @if (property.Type != "Drop Down") {
                            <span>--</span>
                        }else {
                            @Html.DisplayFor(modelItem => property.DropDown.Name)
                        }
                    </div>
                    <div class="col-sm-1">
                        @if (property.Required == 1)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>