@model IEnumerable<InventoryTracker.Models.DropDown>

@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/DropDown/Index.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/datatables.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/Scripts/DataTables/datatables.css")" rel="stylesheet" type="text/css" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="dropDownsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DropDownID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DropDownID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DropDownID })
                </td>
            </tr>
        }
    </tbody>
</table>
